body{
   background-color: #deb0d0;
   font-family: 'Sansita Swashed', cursive;
   color: #f317c3;
   font-size: 22px;
}

.space{
    padding: 20px;
    height: 300px;
    width: 300px;
    background: #fff;
    border: 2px solid #eb4cc3;
    margin: 65px;
    display: inline-block;
    text-align: center;

}

.text{
    font-size: 34px;
    color: #fff;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 12px;
}

.img{ 
    border: 3px solid #c0dffc;
}
    
.cotent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}